# Config for 'ambient mode' (mode set in conf/global.conf).

# Specify the maximum number of sounds to play simultaneously
# Note: lower the number of sounds to lessen CPU load
play_sounds=2

# Path to audio files
play_sounds_path=audio/play-sounds

# FX settings
fx_chain_enabled=1

# Endless play means that when we've run out of sounds to play we restart the app.
endless_play=0
